$gold: #b87614;
$teal: #2ba58c;
$grey: #a8a8a8;
$light-black: #010101;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.permanent-marker-text {
  font-family: 'Permanent Marker', cursive;
}
.pop-up-container {
  display: flex;
  align-items: center;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

  .pop-up-main-img {
    position: relative;
    height: 400px;
  }

  .glass-shop-icon {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .pop-up-form {
    background: transparent url('/imgs/Mask\ Group\ 1.png') 0% 0% no-repeat;
    max-width: 400px;
    max-height: 400px;
    padding: 0 20px;
    position: relative;

    .pop-up-form-container.success {
      opacity: 0;
    }

    .form-header {
      h2 {
        color: $gold;
        padding-top: 15px;
        font: 24px;
        font-weight: 400;
        letter-spacing: 0.63px;
        text-transform: uppercase;
        text-align: center;
      }
      .percent-off-text {
        color: $teal;
        font-size: 55px;
        letter-spacing: 1.38px;
        line-height: 1.1;
        text-align: center;
      }
      .free-shipping-text {
        border-bottom: 1px solid $gold;
        color: $gold;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: center;
        width: 360.5px;
        padding-bottom: 10.5px;
        margin: 0 auto;
      }
    }

    .bold-gold-text {
      color: $gold;
      font-weight: 700;
    }
    .form-info {
      font-size: 17px;
      padding: 9.5px 0 20px 0;
    }

    .form-email-address {
      #email-address {
        display: block;
        border: none;
        border: 1px solid $grey;
        width: 360px;
        height: 50px;
        margin: 0 auto 10px auto;
        padding: 16px 17px;

        &::placeholder {
          color: $grey;
          font-family: inherit;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .decline-btn {
        border: none;
        background: none;
        background: $gold 0% 0% no-repeat;
        border-radius: 5px;
        color: white;
        font-family: inherit;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 0.26;
        width: 145px;
        height: 50px;
        margin-right: 8px;
        cursor: pointer;
      }
      .sign-up-btn {
        border: none;
        background: none;
        background: #2ba58c 0% 0% no-repeat;
        border-radius: 5px;
        color: white;
        font-family: inherit;
        font-size: 19px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: center;
        width: 203px;
        height: 50px;
        cursor: pointer;
      }
      .decline-btn:hover {
        opacity: 1;
        transition: ease 0.5s;
      }
      .sign-up-btn:hover {
        background: $gold;
        transition: ease 0.5s;
      }
      .email-message {
        display: none;
      }
      .email-message.error-message {
        display: block;
        color: red;
        font-size: 12px;
        text-align: center;
        padding: 2px 0;
        margin-top: -8px;
      }
    }

    .pop-up-privacy-policy {
      padding: 19px 0 21px 0;

      p {
        color: $light-black;
        font-size: 10px;
      }
      a {
        color: $light-black;
      }
    }
  }

  .pop-up-success-message {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    p {
      color: $gold;
      font-size: 25px;
      text-align: center;
      letter-spacing: 0.63px;
    }

    .pop-up-success-container {
      border: 1px solid $gold;
      margin: 19px;
    }

    .thank-you-text {
      color: $teal;
      font-size: 55px;
      padding: 34px 0 23px 0;
      letter-spacing: 1.38px;
    }

    .thank-you-small-text {
      font-size: 20px;
    }

    .go-shop-btn {
      border: 0;
      background: none;
      background: $teal;
      border-radius: 5px;
      color: white;
      font-family: inherit;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 14px 56px;
      margin: 48px 0 16px 0;
      cursor: pointer;

      &:hover {
        background: $gold;
        transition: ease 0.5s;
      }
    }

    .close-pop-up {
      color: black;
      font-size: 20px;
      text-decoration: underline;
      margin-bottom: 24px;
      cursor: pointer;

      &:hover {
        color: $teal;
        transition: ease 0.3s;
      }
    }
  }

  .pop-up-success-message.success {
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .pop-up-container {
    .pop-up-main-img {
      display: none;
    }
  }
}
@media screen and (max-width: 400px) {
  .pop-up-container {
    .pop-up-form {
      padding: 0;
      width: 320px;

      .form-header {
        .percent-off-text {
          font-size: 45px;
        }
        .free-shipping-text {
          width: 288px;
        }
      }

      .form-info {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 15px;
      }

      .form-email-address {
        #email-address {
          width: 288px;
          height: 40px;
        }
        .decline-btn {
          font-size: 14px;
          width: 117px;
          height: 40px;
          margin-left: 16px;
        }
        .sign-up-btn {
          font-size: 14px;
          width: 160px;
          height: 40px;
        }
      }
      .pop-up-privacy-policy {
        p {
          font-size: 9.5px;
        }
        padding: 14px 16px 12px 16px;
      }
    }

    .pop-up-success-message {
      .thank-you-text {
        font-size: 45px;
        padding: 28px 0 16px 0;
      }
      .go-shop-btn {
        font-size: 14px;
        margin: 34px 0 12px 0;
      }
    }
  }
}
